.venv/
__pycache__/
*.pyc

# Archive / submission files
*.zip

# Environment secrets
.env

# FlyRank provided reference materials
W2 - Backend 101 - Presentation with resources.html
W2 - Backend 101 - Presentation.html
W2 - Build your first CRUD API.pdf
W3 - Connecting your CRUD to the database.pdf
W3 - Containerize your stack.pdf
W4 - Auth - Login & protect.pdf
W5 - The polite scraper.pdf


# SQLite database and temporary files
*.db
*.db-journal
*.db-wal
*.db-shm